*.unity binary
*.prefab binary
*.asset binary
Assets/Devil's[[:space:]]Punishment[[:space:]]Source/Prefabs/Entities/Prisoner/Prisoner_SOURCE.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Devil's[[:space:]]Punishment[[:space:]]Source/Prefabs/Entities/Prisoner/Prisoner_SOURCE.fbx filter=lfs diff=lfs merge=lfs -text
